@using PWAProject.Models;
@{
    ViewData["Title"] = "Manage Product";
    var pp = new PWAProject.Models.ResponseObject();

}
<div class="row">
    <div class="col-12">
        <a class="btn-info float-right p-2 mb-2" asp-area="" asp-controller="Home" asp-action="Create">Add Prodcut</a>
    </div>
</div>
<div class="row">     
    <div class="col-12">
        <table class="table table-bordered" id="tblProduct">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody data-pulse-parentid="@(Common.GetPropertyName<string>(()=>PWAProject.Models.ResponseObject.stParentId))">
                @if (Model.GetProductList != null && Model.GetProductList.Count > 0)
                {
                    foreach (ProductList loProductList in Model.GetProductList)
                    {
                        <tr id="tr_@loProductList.inProductId" data-pulse-id="@(typeof(PWAProject.Models.ResponseObject).Name + loProductList.inProductId)">                   
                            <td style="display:none;" data-pulse-selecter="@(Common.GetPropertyName<int?>(()=>pp.inProductId) )">@loProductList.inProductId</td>
                            <td data-pulse-selecter="@(Common.GetPropertyName<string>(()=>pp.stProductName) )">@loProductList.stProductName</td>
                            <td data-pulse-selecter="@(Common.GetPropertyName<decimal?>(()=>pp.dcPrice) )">@loProductList.dcPrice</td>
                            <td data-pulse-selecter="@(Common.GetPropertyName<int?>(()=>pp.inQuantity) )">@loProductList.inQuantity</td>
                            <td data-pulse-selecter="@(Common.GetPropertyName<string>(()=>pp.stDescription) )">@loProductList.stDescription</td>
                            <td>
                                <a class="btn-danger p-1" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@loProductList.inProductId">View</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center py-5">No records found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

